:root {
    --weollPurple: #71005d;
    --regular: 400;
    --medium: 500;
    --f55: 3.4375rem;
    --f32: 2rem;
    --f24: 1.5rem;
    --f18: 1.125rem;
    --f14: 0.875rem;
    --f13: 0.8125rem;
    --f12: 0.75rem;
    --f10: 0.625rem;
    --lightBlue: #0da1ec;
    --gray: #cdccd6;
    --lightGray: #dee2e6;
    --semiLightGray: #666;
    --darkGray: #374151;
    --darkerGray: #6c757d;
    --darkererGray: #495067;
    --iconBg: #E9EEF1;
    --iconBorder: #E4E4E4;
}

.container.fullwidth {
    max-width: 90%;
    margin: auto;
}

.header-container {
    width: 100%;
    display: flex;
    max-width: 1900px;
}

header.is-sticky {
    border-bottom: 1px solid var(--lightGray);
    -webkit-box-shadow: 0px 7px 14px -8px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 7px 14px -8px rgba(0, 0, 0, 0.10);
}

@media (min-width:1280px) and (max-width:1440px) {
    .container {
        max-width: 1140px !important;
    }
}

@media (min-width:2400px) {
    .container {
        max-width: 1900px !important
    }
}

html,
body {
    overflow-x: hidden;
    font-size: 16px !important;

}

body {
    width: 100%;
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: var(--lightBlue) !important
}

header {
    padding: 16px;
    display: flex;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid transparent;
    background-color: #fff;
    z-index: 99;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.desktop {
    display: initial;
}

.mobile {
    display: none;
}

.menu {
    justify-content: flex-end;
}

.nav-link a {
    text-decoration: none;
    color: var(--darkerGray);
    transition: 0.25s all linear;
}

/* .cta {
    display: flex;
    justify-content: flex-end;
} */

a.cta {
    color: var(--lightBlue);
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 16px;
    transition: 0.25s all linear;
}

a.cta:hover {
    color: #fff !important;
    background-color: var(--weollPurple);
    border: 1px solid var(--weollPurple);
    transition: 0.25s all linear;

}

header .nav-link {
    color: var(--weollPurple);
}

header .navigator {
    justify-content: flex-end;
    margin: 0;
}

header .navigator,
header .navigator li {
    padding: 0;
}

header .navigator li {
    margin: 0 15px
}

header ul {
    list-style: none;
}

.hidden-sub {
    display: none;
    transition: 0.2s all linear;
}

ul.navigator {
    display: flex;
}

.nav-link {
    height: 70px;
    display: flex !important;
    align-items: center;
}

.nav-link:hover {
    position: relative;

}

.nav-link a:hover {
    color: var(--lightBlue);
    transition: 0.25s all linear;

}

@media only screen and (min-width:1280px){
    .nav-link:hover .hidden-sub{
        min-width: 250px;
    }
}
.nav-link:hover .hidden-sub {
    display: block;
    top: 70px;
    left: -20px;
    position: absolute;
    padding: 16px 16px;
    border: 1px solid var(--lightGray);
    border-top: none !important;
    border-radius: 0 0px 5px 5px;
    transition: 0.2s all linear;
    background-color: #fff;

}

.nav-link:hover .hidden-sub li {
    padding: 4px 0;
    margin: 0;
    background-color: #fff;
}

/** Header End **/

img {
    max-width: 100%;
    box-sizing: border-box;
}

img.full-size {
    max-width: 950px;
}

.solutions-img {
    max-width: 360px;
}

/**Hero Section Start **/

.fullpage {
    height: 100vh;
}

.fullpage .row {
    height: 100%;
}

.flex-v-center {
    justify-content: center !important;
}

.flex-v-end {
    justify-content: flex-end;
}

.flex-h-center {
    align-items: center;
}

.flex-h-end {
    align-items: flex-end;
}

h1.hero-h1 {
    max-width: 550px;
    font-size: var(--f55);
    font-weight: 300;
    color: var(--weollPurple);
}

h1.hero-h1 span {
    color: var(--lightBlue)
}

p.hero-p {
    max-width: 385px;
    font-size: var(--f14);
    color: var(--darkGray);
    font-size: 500;
}

.secondary-cta {
    width: fit-content;
    padding: 10px 16px 10px 32px;
    color: var(--weollPurple);
    border: 1px solid var(--weollPurple);
    border-radius: 5px;
    transition: 0.25s all linear;
    display: flex;
    position: relative;
}

.secondary-cta:hover {
    background-color: var(--lightBlue);
    border: 1px solid var(--lightBlue);
    color: #fff !important;
    transition: 0.25s all linear;

}

.play::before {
    content: "";
    width: 11px;
    height: 15px;
    background-image: url(/assets/img/icons/play.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.play:hover::before {
    background-image: url(/assets/img/icons/play-white.svg);
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.blog-title {
    font-size: var(--f32);
    color: var(--darkGray);
    font-weight: 300;
    text-align: center;
    max-width: 740px;
    margin: 0 auto 32px auto;
}

.blog-subtitle {
    font-size: var(--f24);
    color: var(--gray);
    font-weight: 300;
    text-align: center;
}

.tab-selector {
    display: flex;
    gap: 1%;
    border-bottom: 1px solid var(--lightGray);
    padding: 16px 0;
}

.tab-selector p {
    font-size: var(--f14);
    font-weight: 300;
    color: var(--darkGray);
    margin: 0;
}

.tab-selector .selected {
    position: relative;
}

.tab-selector .selected p {
    color: var(--weollPurple)
}

.tab-selector .selected::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -16px;
    left: 0;
    background-color: var(--weollPurple);
}

.tab-content {
    padding: 16px 32px;
    display: none;
}

.tab-content.bordered {
    border: 1px solid var(--lightGray);
    border-radius: 5px;
}

.tab-content.selected {
    display: block;
}

p.content-subtitle {
    color: var(--darkGray);
    font-size: var(--f24);
    font-weight: 300;
    max-width: 400px;
}

.tab-content ul {
    list-style: none;
    padding: 0;
}

.tab-content ul li p {
    color: var(--lightBlue);
    font-size: var(--f14);
    line-height: 1;
    margin: 8px 0;
}

.tab-cont-container {
    display: flex;
    border: solid 1px var(--lightGray);
    padding: 16px;
    margin-bottom: 8px;
    cursor: pointer;

}

.tab-cont-container:last-child {
    margin-bottom: 0;
}

.tab-img-cont img {
    min-width: 36px;
    margin-right: 24px;
}

.align-center-top {
    align-items: flex-start;
    justify-content: center;
}

.tabs-2-title {
    font-size: var(--f14);
    color: var(--darkGray);
    font-weight: 500;
    margin-bottom: 8px;
}

.tabs-2-cont {
    font-size: var(--f13);
    color: var(--semiLightGray);
    margin: 0;
}

.tabs-two-img {
    display: none;
}

.tabs-two-img.selected {
    display: block;
}

.tab-title {
    width: 25%;
    text-align: center;
    cursor: pointer;
}

.tab-icon-container {
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    padding: 8px;
    display: flex;
    margin: 8px 0;
}

.tab-icon-container .tab-info p {
    margin: 0;
}

.tab-icon {
    margin-right: 8px;
}

.spacer-230 {
    height: 230px;
}

.spacer-110 {
    height: 110px;
}

.spacer-80 {
    height: 80px;
}

.spacer-60 {
    height: 60px;
}

.reversed {
    flex-flow: row-reverse;
}

.icons-cont {
    display: flex;
    flex-flow: column;
}

.icons-icon {
    margin-bottom: 16px;
}

.flex-column {
    display: flex;
    flex-flow: column;
}
.icons-cont.flex-row{
    flex-flow: row !important;
}

/** Testimoial **/
.testimonial-holder {
    border: 1px solid var(--lightGray);
    padding: 16px;
}

.testimonial-grid {
    display: grid !important;
    grid-template-columns: 72px calc(100% - 150px);
    padding: 0 16px;
}

.testimonial-img {
    padding: 0 !important;
}

.testimonial-img img {
    max-width: 72px;
    width: 100%;
    border-radius: 50%;
}

.person-info {
    padding: 0 !important;
    margin-left: 32px;
}

p.testimonial {
    max-width: 910px !important;
    margin: 74px auto 60px auto;
    font-size: 28px;
    color: var(--darkGray);
}

.p-name {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--darkGray)
}

.p-position {
    font-size: 18px;
    color: var(--semiLightGray);
    margin: 0;
}

.testimonials-container .splide__arrow {
    background: transparent;
    top: 65%;

}

.testimonials-container .splide__pagination {
    gap: 6px;
    bottom: 16px;
}

.testimonials-container .splide__arrow svg {
    fill: var(--darkerGray) !important
}

.testimonials-container .splide__arrow:hover svg {
    fill: var(--darkererGray) !important;
}


.testimonials-container .splide__pagination__page {
    background: transparent;
    width: 18px;
    height: 18px;
    border: 2px solid var(--darkerGray);
}

.testimonials-container .splide__pagination__page.is-active {
    background: var(--darkerGray);
    transform: scale(1.0);
}

.testimonials-container .splide__pagination__page:hover {
    background: var(--darkererGray);
    border: 2px solid var(--darkererGray);
}

/** Testimoial END **/

/** Customer Logos**/
.logo-container {
    margin: 70px auto
}

.logo-container .col {
    width: calc(100% / 8) !important;
    height: fit-content !important;
    text-align: center;
}

footer {
    background-color: var(--darkGray);
}

footer .row {
    margin: 0 auto;
    max-width: 1140px;
}

footer .row.spacing {
    padding-top: 70px;
}

.footer-menu-cont {
    display: flex;
    flex-flow: column;
}

.grid-md-4 {
    grid-template-columns: 25% 25% 25% 25%;
}

.footer-spacing {
    margin-top: 35px;
}

footer .row .col-md-4 {
    display: flex;
}

footer h4,
footer h4 a {
    font-size: var(--f14);
    color: #fff;
    line-height: 1;
}

/* footer h4 a {
    color: #fff;
    font-size: var(--f12) !important;
} */

footer a {
    font-size: var(--f12);
    color: var(--gray);
    margin: 4px 0;
    line-height: 1;
}

.footer-logo {
    margin: 60px 0 30px 0;
}

.footer-border-top {
    border-top: 1px solid #fff;
}

.copyright {
    color: #fff;
    font-size: var(--f12);
    margin: 20px 0 25px 0;
}

.social-media-container .social {
    margin: 0 23px;
    opacity: 0.3;
    transition: 0.25s all linear;
}

.social-media-container .social:hover {
    opacity: 1;
    transition: 0.25s all linear;

}

.social-media-container .social:last-child {
    margin: 0 0 0 23px;
}

/** Customer Logos END**/

.other-solution {
    /* max-width: 215px; */
    margin: auto;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    padding: 16px;
}

.other-solution h4 {
    font-size: 14px;
    color: var(--darkGray);
    margin: 16px 0;
}

.other-solution p {
    font-size: 12px;
    color: var(--semiLightGray);
    margin: 0;
}

.other-solution-cta {
    font-size: 14px;
    color: var(--lightBlue);
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    width: 100%;
    /* max-width: 215px; */
    text-align: center;
    padding: 8px 0;
    margin: 4px auto;
    transition: 0.25s all linear;
}

.other-solution-cta:hover {
    color: #fff !important;
    border-color: var(--weollPurple);
    background-color: var(--weollPurple);
    transition: 0.25s all linear;

}

.contact-icons {
    display: flex;
    width: fit-content;
    position: fixed;
    right: 16px;
    bottom: 16px;
}

.contact-icons a {
    background-color: var(--iconBg);
    border: 1px solid var(--iconBorder);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 4px;
    transition: 0.25s all linear;
}

.contact-icons a:hover {
    background-color: var(--lightBlue);
    border: 1px solid var(--lightBlue);
    transition: 0.25s all linear;

}

.contact-icons img {
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0);
    transition: 0.25s all linear;

}

.contact-icons a:hover img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    transition: 0.25s all linear;

}

.discover-weoll-bg {
    background-image: url('/assets/img/discover-weoll/discover-weoll-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container.discover-weoll-bg.fullwidth {
    max-width: 100% !important;
}

.discover-weoll-bg h1 {
    font-size: var(--f55);
    color: var(--weollPurple);
    text-transform: uppercase;
}

.discover-weoll-bg p {
    max-width: 588px;
    text-align: center;
    color: var(--darkGray);
    font-size: var(--f14);
}

.m-40 {
    margin-top: 40px !important;
}

.m-80 {
    margin-top: 80px;
}

.tab-cont-container.visible.m-12 {
    margin: 12px 0;
}

.border-r-5 {
    border-radius: 5px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.success-hero-info {
    font-size: var(--f14);
    line-height: 16px;
    color: var(--darkGray);
    text-align: center;
    max-width: 540px;
    margin-top: 30px;
}

.success-hero-owner {
    font-size: var(--f14);
    color: var(--darkGray);
    font-weight: 600;
    margin: 0;
}

.italic {
    font-style: italic;
}

.max-w-210 {
    max-width: 210px !important;
}

.sector-title {
    font-size: var(--f24);
    font-weight: 600;
    color: var(--darkGray);
    margin: 8px 0;
}

.sector-info {
    font-size: var(--f16);
    font-weight: 600;
    color: var(--gray);
}

.h-55 {
    height: 55%;
}

.h-45 {
    height: 45%;
}

.need-container {
    padding: 8px;
    margin: 16px;
    border: 1px solid var(--lightGray);
}

.need-container p {
    margin: 0 0 0 8px;
    color: var(--semiLightGray);
    font-size: var(--f16);
}

.success-logo-cont p {
    margin: 16px 0;
    font-size: var(--f13);
    color: var(--darkGray);
}

@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.prograss-main-container {
    padding: 8px;
    border: 1px solid var(--lightGray);
    margin: 16px 0
}

.prograss-main-container p {
    margin: 0 0 0 8px;
}

.progress-container {
    padding: 8px;
    background-color: var(--iconBg);
    width: fit-content;
    border: 1px solid var(--lightGray);
}

div[role="progressbar"] {
    --size: 3.656rem;
    --fg: #0DA1EC;
    --bg: rgba(13, 161, 236, 0.5);
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, var(--iconBg) 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: 'Raleway', sans-serif;
    font-size: var(--f14);
    color: var(--darkGray);
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

.mainfeature {
    background-color: var(--iconBg);
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    padding: 8px;
    margin: 8px 0 !important
}

.mainfeature p {
    font-size: var(--f18);
    color: var(--darkGray);
    font-weight: 600;
    padding: 0;
}

.subfeature {
    padding: 8px;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    margin: 8px 0 !important
}

.container.packages p {
    margin: 0;
}

.subfeature .col-md-6 {
    padding: 0 !important;
}

.subfeature p {
    font-size: var(--f14);
    color: var(--darkGray);
}

.package {
    width: 49% !important;
    padding: 16px;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    margin-bottom: 8px;
}

.package-button {
    height: 135px;
}

.w40{
    width: 40%;
}
.w60{
    width: 60%;
}
.package:first-child {
    margin-right: 2%;
}

.package h2 {
    font-size: var(--f32);
}

.package p {
    font-size: var(--f12);
}

h2.blue {
    color: var(--lightBlue);
}

h2.purple {
    color: var(--weollPurple)
}

.subfeature.width-fix {
    width: 50% !important;
}

.spacing-fix {
    margin-right: 2% !important;
}

.no-padding {
    padding: 0 !important;
}

.package-cta {
    padding: 8px 16px;
    width: 100%;
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    background-color: transparent;
    transition: 0.25s all linear;
    color: var(--lightBlue);
}

.package-cta:hover {
    background-color: var(--lightBlue);
    color: #fff !important;
    transition: 0.25s all linear;
}

.form-footer {
    padding: 16px;
    /* border: 1px solid var(--lightGray); */
}

.form-group input,
.form-group textarea {
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    height: 40px;
    margin-bottom: 16px;
    padding: 16px 8px;
}

.form-group textarea {
    min-height: 200px;
    width: 100%;
}

.form-submit {
    background-color: transparent;
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    color: var(--lightBlue);
    padding: 8px 16px;
    transition: 0.2s all linear;

}

.form-submit:hover {
    background-color: var(--lightBlue);
    color: #fff;
    transition: 0.2s all linear;
}

.contact-info {
    min-width: 190px !important;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid var(--lightGray);
    margin: 0 16px;
    position: relative;
    font-family: 'Raleway', 'sans-serif';
    font-size: 16px;
    color: var(--darkGray)
}

.contact-info::before {
    display: block;
    content: "";
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info.phone::before {
    background-image: url('/assets/img/icons/phone.svg');
}

.form-group label {
    font-family: 'Raleway', sans-serif;
    color: var(--darkGray);
    font-size: 14pxs;
}

.contact-info.email::before {
    background-image: url('/assets/img/icons/email.svg');
    width: 17px;
    height: 12px;
}

.footer-contact h2 {
    font-size: var(--f55);
    color: var(--weollPurple);
    text-align: center;
    margin-bottom: 48px;
}

.container.fourofour {
    margin-top: 80px;
}

.img404 {
    max-width: 573px !important;
}

.btn404 {
    max-width: 115px !important;
    border: 1px solid var(--lightBlue);
    color: var(--lightBlue);
    padding: 8px 16px;
    background-color: transparent;
    transition: 0.25s all linear;
    text-align: center;
    border-radius: 5px;
    margin-top: 48px !important;
}

.btn404:hover {
    background-color: var(--lightBlue);
    color: #fff !important;
}

.newsletter-container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.newsletter-form {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 60px 0 30px 0;
}

.newsletter-form input {
    background-color: var(--lightGray);
    border-radius: 5px;
    border: var(--lightGray);
    margin-right: 8px;
    padding: 8px 16px;
    min-width: 290px;
}

.newsletter-form button {
    background-color: transparent;
    color: var(--lightBlue);
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    padding: 8px 16px;
    transition: 0.25s all linear;

}

.newsletter-form button:hover {
    background-color: white;
    border: 1px solid white;
    transition: 0.25s all linear;
}

@media screen and (max-width:767px) {

    :root {
        --weollPurple: #71005d;
        --regular: 400;
        --medium: 500;
        --f55: 30px;
        --f32: 18px;
        --f24: 16px;
        --f18: 1.125rem;
        --f14: 0.875rem;
        --f13: 0.8125rem;
        --f12: 0.75rem;
        --f10: 0.625rem;
        --lightBlue: #0da1ec;
        --gray: #cdccd6;
        --lightGray: #dee2e6;
        --semiLightGray: #666;
        --darkGray: #374151;
        --darkerGray: #6c757d;
        --darkererGray: #495067;
        --iconBg: #E9EEF1;
        --iconBorder: #E4E4E4;
    }

    .spacer-80 {
        height: 40px;
    }

    .spacer-110 {
        height: 55px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    header .col-xs-6 {
        width: 50%;
    }

    .navigator {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        top: 70px;
        right: -100vw;
        display: flex;
        flex-flow: column;
        justify-content: flex-start !important;
        transition: 0.25s all linear;
    }

    .navigator.active {
        right: 0;
        transition: 0.25s all linear;
    }

    .navigator .nav-link {
        padding: 8px 16px;
        margin: 4px 16px;
        max-width: 100%;
        max-height: 43px;
        border: 1px solid var(--lightGray);
        border-radius: 5px;
    }

    .menu-toggle {
        font-size: 32px;
        color: var(--weollPurple);
    }

    .menu-toggle.active .fa-bars {
        visibility: hidden;
        width: 0;
    }

    .menu-toggle .fa-xmark {
        visibility: hidden;
        width: 0;
    }

    .menu-toggle .fa-bars {
        visibility: visible;
        width: auto;
    }

    .container.fullpage.fullwidth.m-40 {
        margin-top: 100px !important;
    }

    .menu-toggle.active .fa-xmark {
        visibility: visible;
        width: auto;
    }

    .nav-link {
        position: relative;
    }

    .nav-link::before {
        color: var(--lightBlue);
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-link:hover {
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: auto;
    }

    .navigator .nav-link {
        height: auto;
        max-height: 100%;
    }

    .nav-link.active .hidden-sub {
        position: unset;
        left: unset;
        top: unset;
        border: unset;
        display: block !important;
    }

    .nav-link .hidden-sub {
        display: none !important;
    }

    .nav-link.active .hidden-sub li {
        max-width: 100%;
        width: 100%;
    }

    .nav-link.active .hidden-sub li a {
        width: 100%;
    }


    .nav-link.no-border {
        border: none;
        padding: 4px 0;
    }

    .cta.mobile {
        width: 100%;
    }

    .contact-icons {
        display: none;
    }

    .contact-icons.active {
        display: flex;
        z-index: 999;
        right: unset;
        left: 16px;
    }

    .tab-icon-container {
        padding: 16px;
    }

    .container.fullpage.fullwidth {
        max-width: 100%;
        height: 100vh;
        margin-top: 100px;
    }

    .container.fullpage.fullwidth .row {
        flex-flow: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .hero-img {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hero-img img {
        max-width: 570px;
    }

    .mobile.arrow-down {
        position: absolute;
        bottom: 32px;
        text-align: center;
        font-size: 32px;
        color: var(--lightBlue);
    }

    h1.hero-h1 {
        margin-top: 16px;
    }

    .testimonial-grid {
        justify-content: unset !important;
    }

    .person-info {
        margin-left: 16px;
    }

    .col-xs-4 {
        width: 33.3333%;
    }

    p.testimonial {
        font-size: 16px;
    }

    .testimonials-container .splide__pagination {
        bottom: -24px;
    }

    .testimonials-container .splide__pagination__page {
        width: 12px;
        height: 12px;
    }

    .splide__arrows.splide__arrows--ltr {
        display: none !important;
    }

    .logo-container .row {
        display: flex;
        flex-flow: row !important;
        overflow-x: scroll;
        align-items: unset !important;
        justify-content: unset !important;
    }

    .logo-container .col {
        width: 100% !important;
        padding: 16px 8px;
        min-width: 33% !important;
    }

    .footer-contact .row {
        padding: 0 16px;
    }

    .footer-contact .col-md-6 {
        padding: 0;
    }

    .footer-contact form {
        padding: 0;
    }

    .contact-info {
        text-align: center;
        margin: 16px 0;
    }

    .reversed {
        flex-flow: column;
    }

    .brands-container {
        flex-flow: column;
    }

    .need-container {
        padding: 16px;
    }

    .tab-title {
        min-width: 60% !important;
        width: 60%;
    }

    .mobile-content {
        margin: 32px 0 32px 0;
    }

    .tab-selector {
        overflow-y: scroll;
    }

    .icons-cont {
        display: flex;
        flex-flow: column !important;
        height: 100px;
        margin: 16px 0;
        align-items: center;
    }

    .other-solution {
        height: 80px;
        width: 215px !important;
        display: flex;
    }

    .row {
        align-items: center;
        justify-content: center;
    }

    .other-solution img {
        width: 32px;
        margin-right: 8px;
    }

    .other-solution h4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .other-solution p {
        display: none;
    }

    .other-solution-cta {
        width: 110px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }

    footer .row.spacing {
        margin: 0 16px
    }

    footer .row {
        margin: 0 16px
    }

    .grid-md-4 {
        grid-template-columns: 50% 50%;
    }

    footer h4 {
        margin: 16px 0
    }

    .mobile-reverse {
        flex-flow: column-reverse;
    }

    .newsletter-form input {
        min-width: 220px;
    }

    .mobile-text-center {
        text-align: center;
    }

    .row.footer-border-top .col-md-6 {
        width: 50%;
    }

    .max-w-210 {
        max-width: 33% !important;
    }

    .h-45 {
        height: auto;
    }

    .align-center-top {
        align-items: flex-start;
        justify-content: center;
    }

    .h-auto {
        height: auto;
    }

    .tab-icon {
        min-width: 36px;
    }

    .tab-info p {
        font-size: 12px;
    }

    p.tabs-2-cont {
        font-size: 8px;
    }

    .pone,
    .ptwo {
        display: none;
    }


    .pone.active,
    .ptwo.active {
        display: block;
    }

    .packages-mobile-col-1 {
        width: 65%;
    }

    .packages-mobile-col-2 {
        width: 35%;
    }

    .subfeature.width-fix.package {
        width: 100% !important;
    }

    .subfeature {
        padding: 16px;
    }

    .packages-container {
        padding: 0 16px !important;
    }

    .package-button.btnone.selected {
        color: #fff !important;
        background-color: var(--lightBlue);
    }

    .package-button.btnone.selected .blue,
    .package-button.btntwo.selected .purple {
        color: #fff !important;
    }

    .package-button.btntwo.selected {
        color: #fff !important;
        background-color: var(--weollPurple);
    }

}
